Source: grub2-theme-deepin
Section: admin
Priority: optional
Maintainer: Wang Mingdong <wangmingdong@linuxdeepin.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2
Homepage: http://www.linuxdeepin.com/
Vcs-Browser: https://github.com/21wmd/grub2-theme-deepin
Vcs-Git: git://github.com/21wmd/grub2-theme-deepin.git

Package: grub2-theme-deepin
Architecture: all
Depends: ${misc:Depends}, grub-pc
Description: Grub2 theme for Linux Deepin
 The grub2 theme for Linux Deepin.
