Source: grub2-theme-deepin
Section: admin
Priority: optional
Maintainer: Wang Mingdong <wangmingdong@linuxdeepin.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/gwrite
Vcs-Browser: http://git.debian.org/?p=collab-maint/gwrite.git
Vcs-Git: git://git.debian.org/collab-maint/gwrite.git

Package: grub2-theme-deepin
Architecture: all
Depends: ${misc:Depends}, grub-pc
Description: Grub2 theme for Linux Deepin
 The grub2 theme for Linux Deepin.
